/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: black;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background-size: auto;
  /* background-color: #dabded; */
  background-image: radial-gradient(#f1e0bc,#f1d26d, #dab44b);
  /* background-image: linear-gradient(to bottom right,#dabded, #322359); */
}

body {
  

  font-family: 'Roboto Condensed', sans-serif;


  display: -ms-flexbox;
  display: flex;
  color: #090319;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}

#img1 {
  width:533px;
  height:400px;
}
#img2 {
  width:533px;
  height:400px;

}
#img3 {
  width:533px;
  height:400px;

}
/* .carousel-inner > .item > img {
  width:640px;
  height:360px;
} */

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  text-color: black;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #5f4514;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color:#5f4514;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color:#322359;
  border-bottom-color:#322359;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}