<!DOCTYPE html>
{% extends "app/base.html" %}
    {% block body_block%}
    {% load staticfiles %}

    <!doctype html>

    <div class="container">
        <h1>contact</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta inventore mollitia tempore rem aperiam sequi incidunt totam, enim, minus ipsum ea! Officia reprehenderit praesentium sed cumque nobis delectus, culpa maxime! </p>

        <script type="text/javascript" src="https://bookeo.com/widget.js?a=41569AHXLK9165AB15131F"></script>


    </div>

        
        


    
{% endblock %}