<!DOCTYPE html>
{% extends "app/base.html" %}
    {% block body_block%}
    {% load staticfiles %}

    <!doctype html>

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>


    <div class="container">
        <h1>Book Now</h1>

        <script type="text/javascript" src="https://bookeo.com/widget.js?a=41569AHXLK9165AB15131F"></script>


    </div>

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <p></p>
    <p></p>
    <p></p>
    <p></p>  <p></p>

    <p></p>
        
        


    
{% endblock %}