<!DOCTYPE html>
{% extends "app/base.html" %}
    {% block body_block%}
    {% load staticfiles %}

    <!doctype html>

    <p></p>
    <p></p><p></p>
    <p></p>
    <p></p><p></p>    <p></p>
    <p></p><p></p>

    <div class="container">


        <h1>contact</h1>
        <p>Adam Devito</p>
        <p> Sama Massage</p>
        <p>adam@samamassages.com</p>
        <p>Within Off-Season Sports and Physical Therapy</p>
        <p>135 No. Beacon St </p>
        <p>Watertown MA, 02472</p>

        <p><b>Parking:</b> You can park in the two spots for off-season sports and physical therapy in our parking lot. If these are unavailable, you can park on North Beacon Street or Royal Street. </p>


    </div>
    
    <p></p>
    <p></p><p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p><p></p>
    <p></p>
    <p></p>

    <p></p>
    <p></p><p></p>
    <p></p>
    <p></p>

    <p></p>
    <p></p><p></p>
    <p></p>
    <p></p>
        
        


    
{% endblock %}