<!DOCTYPE html>
{% extends "app/base.html" %}
    {% block body_block%}
    {% load staticfiles %}

    <!doctype html>

    <p></p>
    <p></p>

        <h2 align="left">Services</h1>

        <h3>Relaxation Massage</h3>
        <p style="font-size:14px">This treatment will use light to moderate pressure to remove all the tension out of both body and mind. Oil will be applied to reduce friction, and allow long gliding strokes to aid blood return back to the heart. A study conducted in 2014 found that one 45-minute relaxation massage was able to bring biological changes to the body. Levels of the stress hormone, cortisol were reduced in both blood and saliva, and there was an increase in the hormone oxytocin, which is involved in creating feelings of well-being and contentment. The study can be found here. This massage will be a complete massage and all your musculature will be addressed. </p>
        
        <h3>Theraputic Massage</h3>
        <p style="font-size:14px">This massage will use a combination of relaxation techniques, as well as deep tissue techniques. The goal with this massage will be multi-faceted. The first step will be to help your entire body and mind relax with multiple relaxation techniques. Once your body has been brought back to a state of rest, deeper work will be applied to specific problem areas to leave you feeling rejuvenated and moving with greater ease.  </p>

        <h3>Deep Tissue Massage</h3>
        <p style="font-size:14px">This massage will use a combination of relaxation techniques, stretching, and deep pressure to help specific areas in your body that have been giving you trouble. This massage will be much more site specific and the pressure will be deeper and the pace will be slower. The goal will be to affect both the fascia and the deeper layers of muscles in your body. A combination of deeper strokes and direct pressure will be applied to release tension or chronic pain.The number of treatments needed to achieve results depends entirely on who you are and the issue you are working with. Generally, 3 treatments is an excellent place to start. If, after the third treatment, the tissue has not responded to massage, other modalities such as physical therapy or acupuncture should be attempted. </p>

        <h3>Prices</h3>
        <p style="font-size:14px">At Sama Massage, all prices are based on the hour.</p> 
        <p style="font-size:14px">30 Minute Targeted Massage - $50</p>
        <p style="font-size:14px">60 Minute Massage - $95</p>
        <p style="font-size:14px">75 Minute Massage - $115</p>
        <p style="font-size:14px">90 Minute Massage - $135</p>
    
{% endblock %}